@import "../../styles/responsive";

.header {
  &__container {
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    &--state {
      img {
        margin-right: 1rem;
      }
    }
  }

  &__city {
    font-size: 1.8rem;
    line-height: 1.4rem;
  }

  &__span {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-right: 1.2rem;
  }

  @media (max-width: $mobileLarge) {
    &__logo {
      flex-wrap: wrap;

      &--ebac {
        width: 90px;
      }
    }

    &__city {
      margin-top: 1rem;
    }

    &__span {
      margin-bottom: 0.4rem;
    }
  }
}
